Django==5.2.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
python-dotenv==1.1.0
djangorestframework-simplejwt==5.5.0
django-extensions==4.1
pylint==3.3.7
pylint-django==2.6.1
coverage==7.8.2
